params {
    runBasecalling = true
    fastq = "c.fasta"
    reference = "/hlilab/neng/data/genomes/T2T-CHM13v2.0/ncbi-genomes-2023-03-15/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna"
    out_dir = "map_out2"
    tgs_type = "ont"
    snp_caller = "pepper"
    nthreads = 10
    true_vcf = ""
    true_bed = ""
}

process {
    withName:Clair3Calling {
        container = "docker://hkubal/clair3:latest"
    }
    withName:PepperDeepVariantCalling{
        container = "docker://kishwars/pepper_deepvariant:r0.8"
    }
    withName:NanoSNPCalling {
        container = "docker://huangnengcsu/nanosnp:v2.1-gpu"
    }
}

singularity {
    enabled = true
    autoMounts = true
}
