params {
    runBasecalling = true
    fastq = "hg002.chr22.fastq"
    reference = "GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.chr22.fna"
    out_dir = "nanosnp"
    tgs_type = "ont"
    snp_caller = "nanosnp"
    coverage = 20
    usecontig = true
    nthreads = 60
    true_vcf = ""
    true_bed = ""
}

process {
    withName:Clair3Calling {
        container = "docker://hkubal/clair3:latest"
    }
    withName:PepperDeepVariantCalling{
        container = "docker://kishwars/pepper_deepvariant:r0.8"
    }
    withName:NanoSNPCalling {
        container = "docker://huangnengcsu/nanosnp:v2.1-gpu"
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--nv'

}
