
params {
    raw_fastq = "/public/home/hpc164611151/projects/pecat_debug/c.fasta"
    ref = "/public/data/biodata/compu_bio/member/huangneng/SNP_human_datasets/human_samples/GRCh38/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna"
    out_dir = "map_out"
    nthreads = 2
}

process {
    withName:mapping {
        container = "/public/home/hpc164611151/singularity/minimap2_latest.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
}
